Source: gooroom-icon-themes
Section: gnome
Priority: optional
Maintainer: Gooroom Maintainers <gooroom@gooroom.kr>
Build-Depends: debhelper-compat (= 13),
               gtk-update-icon-cache,
Standards-version: 4.6.2

Package: gooroom-icon-themes
Architecture: all
Depends: ${misc:Depends},
         arc-icon-theme,
         hicolor-icon-theme,
         faenza-icon-theme,
         papirus-icon-theme,
         numix-icon-theme-circle,
         libgtk-3-bin,
         librsvg2-common
Description: Default Icon Theme of Gooroom
 This package contains the default icon theme used by the Gooroom.
